body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bouncing-logo {
    position: absolute;
    /* width: 192px;
    height: 192px;
    font-size: 360px; */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 15vw;
    font-size: 30vw;
    /* border: 2px solid white; */
}

.jacquard-12-regular {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 1024px) {
    .bouncing-logo {
        width: 15vw;
        height: 15vw;
        font-size: 25vw;
    }
}

@media (max-width: 480px) {
    .bouncing-logo {
        width: 20vw;
        height: 20vw;
        font-size: 32vw;
    }
}